<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    th:href="@{/associations/show(association=${event.association.abbreviation})}"
                    th:text="${event.association.name}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/events/show(event=${event.id})}" th:text="${event.name}"/></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{orders}"></li>
        </ol>
    </nav>
    <h1 class="pb-2" th:text="#{orders.long(${event.name})}"></th:block>
    </h1>

    <ul class="pagination" th:if="${orders.totalPages > 1}">
        <li
                th:each="pageNumber : ${#numbers.sequence(0, orders.totalPages - 1)}"
                class="page-item"
                th:classappend="${pageNumber==orders.number} ? active"
        >
            <a th:href="@{/orders(size=${orders.size}, page=${pageNumber}, event=${event.id})}"
               th:text="${pageNumber + 1}"
               class="page-link">

            </a>
        </li>
    </ul>
    <div class="order-index">
        <div th:each="order : ${orders}"
             class="card" th:classappend="${'status-' + order.status}">
            <div class="card-body">
                <dl>
                    <dt th:text="#{orders.status}">
                    </dt>
                    <dd th:text="${order.status}">
                    </dd>
                    <dt th:text="#{orders.table}">
                    </dt>
                    <dd th:text="${order.table.name}">
                    </dd>
                    <dt th:text="#{orders.total}">
                    </dt>
                    <dd th:text="${@money.apply(order.total)}">
                    </dd>
                    <dt th:text="#{orders.created}">
                    </dt>
                    <dd th:text="${@datetime.apply(order.created)}">
                    </dd>
                </dl>
                <table class="table table-striped">
                    <tr>
                        <th scope="col" th:text="#{orders.item}"></th>
                        <th scope="col" th:text="#{orders.item.amount}"></th>
                        <th scope="col" th:text="#{orders.item.priceEach}"></th>
                        <th scope="col" th:text="#{orders.item.priceTotal}"></th>

                    </tr>
                    <tr th:each="item : ${order.items}">
                        <td th:text="${item.item.name}"></td>
                        <td th:text="${item.amount}"></td>
                        <td th:text="${@money.apply(item.item.price)}"></td>
                        <td th:text="${@money.apply(item.item.price * item.amount)}"></td>
                    </tr>

                </table>
            </div>

            <hr/>
        </div>
    </div>
    <ul class="pagination" th:if="${orders.totalPages > 1}">
        <li
                th:each="pageNumber : ${#numbers.sequence(0, orders.totalPages - 1)}"
                class="page-item"
                th:classappend="${pageNumber==orders.number} ? active"
        >
            <a th:href="@{/orders(size=${orders.size}, page=${pageNumber}, event=${event.id})}"
               th:text="${pageNumber + 1}"
               class="page-link">

            </a>
        </li>
    </ul>
</section>

</body>
</html>
