<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <h1 class="pb-2">Bestelling voor tafel
        <th:block th:text="${order.table.name}"></th:block>
    </h1>

    <div id="order-view" th:classappend="${'status-' + order.status}" th:data-id="${order.id}">
        <table class="table table-striped">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Aantal</th>
                <th scope="col">Prijs/stuk</th>
                <th scope="col">Prijs totaal</th>

            </tr>
            <tr th:each="item : ${order.items}">
                <td th:text="${item.item.name}"></td>
                <td th:text="${item.amount}"></td>
                <td th:text="${@money.apply(item.item.price)}"></td>
                <td th:text="${@money.apply(item.item.price * item.amount)}"></td>
            </tr>

        </table>

        <h3 id="status-text" th:text="${order.status}"></h3>
        <div class="progress" th:switch="${order.status.toString()}">
            <div th:case="'ORDERED'" class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            <div th:case="'STARTED'" class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
            <div th:case="*" class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

        </div>

        <h4>Er staan op dit moment <span id="queuePosition" th:text="${queuePosition}"></span> bestellingen voor jou in de wachtrij.</h4>
    </div>
    <script>
        $(function () {
            const socket = new SockJS('/websockets');
            const stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                const $orderView = $("#order-view");
                const orderId = $orderView.data('id');
                console.log("orderId", orderId);
                stompClient.subscribe('/orders/' + orderId, function (order) {
                    const data = JSON.parse(order.body);
                    console.log("data", data);
                    $orderView.find("#queuePosition").text(data.queuePosition + 1);
                    $orderView.find("#status-text").text(data.status);
                    $orderView.removeClass("status-ORDERED");
                    $orderView.removeClass("status-STARTED");
                    $orderView.removeClass("status-CANCELLED");
                    $orderView.removeClass("status-COMPLETED");
                    $orderView.addClass("status-" + data.status);
                });
            });
        });
    </script>
</section>
</body>
</html>
