<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <h1 class="pb-2" th:text="#{events.actions.viewUnfinishedOrders.long(${event.name})}"></th:block>
    </h1>

    <div id="bar-orders" class="container" th:data-id="${event.id}" th:data-locale="${#locale.language}" th:text="#{common.react.javascriptWarning}"></div>
    <script src="/dist/bar-bundle.js"></script>
</section>
</body>
</html>
