<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    th:href="@{/associations/show(association=${event.association.abbreviation})}"
                    th:text="${event.association.name}"/></li>
            <li class="breadcrumb-item active" th:text="${event.name}"></li>
        </ol>
    </nav>
    <h1>
        <th:block th:text="${event.name}"/>
    </h1>
    <div class="list-group pb-3 pl-5">
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/orders/todo(event=${event.id})}" th:text="#{events.actions.viewUnfinishedOrders}"></a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/events/edit(event=${event.id})}" th:text="#{events.actions.edit}"></a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/events/qrcodes(event=${event.id})}" th:text="#{locations.actions.printQrCodes}"></a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/orders(event=${event.id})}" th:text="#{locations.actions.viewOrderList}"></a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/events/orderedItems(event=${event.id})}" th:text="#{events.actions.viewOrderedItems}"></a>

    </div>
    <h2 th:text="#{common.info}"></h2>
    <dl>
        <dt th:text="#{events.location}"></dt>
        <dd><a th:href="@{/locations/show(location=${event.location.id})}" th:text="${event.location.name}"></a></dd>
        <dt th:text="#{events.timeRange.start}"></dt>
        <dd th:text="${@datetime.apply(event.timeRange.start)}"></dd>
        <dt th:text="#{events.timeRange.end}"></dt>
        <dd th:text="${@datetime.apply(event.timeRange.end)}"></dd>
        <dt th:text="#{events.bar}"></dt>
        <dd th:text="${event.open}? #{events.bar.open} : #{events.bar.closed}"></dd>
    </dl>

    <h2 th:text="#{events.items}"></h2>
    <a class="btn-primary list-group-item list-group-item-action m-1"
       th:href="@{/items/create(event=${event.id})}" th:text="#{events.items.actions.add}"></a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th th:text="#{events.items.name}"></th>
            <th th:text="#{events.items.price}"></th>
            <th th:text="#{events.items.availability}"></th>
            <th th:text="#{events.items.photo}"></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${event.items}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${@money.apply(item.price)}"></td>
            <td th:text="${item.available} ? #{events.items.availability.available} : #{events.items.availability.unavailable}"></td>
            <td>
                <img class="item-photo-small" th:src="${item.photo}"/>
            </td>
            <td>
                <a th:href="@{/items/edit(item=${item.id})}" th:text="#{events.items.actions.edit}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>