<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <h1>Verenigingen</h1>
    <div class="list-group pt-3 pb-3 pl-5">
        <span th:each="association : ${ associations }">
            <a class="col-sm-4 btn btn-primary list-group-item list-group-item-action m-1" th:href="@{/associations/show(association=${association.abbreviation})}" th:text="${association.name}"/>
        </span>
    </div>
    <a class="btn btn-primary mt-5" th:href="@{/associations/create}">Vereniging toevoegen</a>

    <a class="btn btn-info mt-5" th:href="@{/admins}">Beheerders</a>
    <a class="btn btn-info mt-5" th:href="@{/locations}">Locaties</a>

</section>

</body>
</html>
