<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/associations/show(association=${association.abbreviation})}" th:text="${association.name}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Bar aanmaken</li>
        </ol>
    </nav>
    <h1 class="pb-2">Bar aanmaken voor <th:fragment th:text="${association}"></th:fragment></h1>
    <form
            class="form-horizontal"
            th:method="POST"
            th:action="@{/bars/create(association=${association.abbreviation})}"
            th:object="${barForm}"
    >
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="name">
                Naam
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name" maxlength="255" required>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-2 control-label" for="open">
                Open
            </label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" th:field="*{open}" id="open">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('open')}" th:errors="*{open}"></p>
            </div>
        </div>

        <div class="form-group pt-4">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    Aanmaken
                </button>
            </div>
        </div>
    </form>
</section>

</body>
</html>
