<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a
                    th:href="@{/associations/show(association=${bar.association.abbreviation})}"
                    th:text="${bar.association.name}"/></li>
            <li class="breadcrumb-item active" th:text="${bar.name}"></li>
        </ol>
    </nav>
    <h1>
        <th:block th:text="${bar.name}"/>
        <th:block th:if="${bar.open}">(Open)</th:block>
        <th:block th:if="${!bar.open}">(Gesloten)</th:block>

    </h1>
    <div class="list-group pb-3 pl-5">
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/orders/todo(bar=${bar.id})}">Onafgewerkte bestellingen bekijken</a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/bars/edit(bar=${bar.id})}">Bar aanpassen</a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/bars/qrcodes(bar=${bar.id})}">QR codes</a>
        <a class="btn-primary list-group-item list-group-item-action m-1"
           th:href="@{/orders(bar=${bar.id})}">Bestellingslijst</a>
    </div>
    <h2>Tafels</h2>
    <a class="btn-primary list-group-item list-group-item-action m-1"
       th:href="@{/tables/create(bar=${bar.id})}">Tafel toevoegen</a>

    <ol>
        <li th:each="table : ${bar.tables}">
            <th:block th:text="${table.name}"/>
            <a th:href="@{/tables/edit(table=${table.id})}">
                Aanpassen
            </a>
            <a th:href="@{/orders/create(table=${table.id})}">
                Bestellen
            </a>
        </li>
    </ol>

    <h2>Items</h2>
    <a class="btn-primary list-group-item list-group-item-action m-1"
       th:href="@{/items/create(bar=${bar.id})}">Item toevoegen</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Beschikbaar</th>
            <th>Photo</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, iter : ${bar.items}">
            <td th:text="${iter.index + 1}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${@money.apply(item.price)}"></td>
            <td th:text="${item.available}"></td>
            <td>
                &nbsp;
                <img class="item-photo-small" th:src="${item.photo}"/>
            </td>
            <td><a th:href="@{/items/edit(item=${item.id})}">
                Aanpassen
            </a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>