<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Covid Scanner van WiNA Gent">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/favicon.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <title>WEBA</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/custom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/custom.js"></script>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://wina-gent.be/assets/wina-logo-37db21ca07defda43d31f648379eee55c1e6eb5991ea9d8adf466355ede939dd.svg">
        WiNA Gent
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" class="as-text">Logout</a></li>
    </ul>
</nav>
<section class="container" th:if="${ infoAlert != null || dangerAlert != null || successAlert != null}">

    <div th:if="${infoAlert != null}" class="alert alert-dismissible alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <span
                th:text="${infoAlert}"
        >
                </span>
    </div>
    <div th:if="${successAlert != null}" class="alert alert-dismissible alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <span
                th:text="${successAlert}"
        >
                </span>
    </div>
    <div th:if="${dangerAlert != null}" class="alert alert-dismissible alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <span
                th:text="${dangerAlert}"
        >
                </span>
    </div>
</section>

<section class="container">
    <div id="content" layout:fragment="content">

    </div> <!-- #content -->
</section>
<footer>
    <div class="footer fixed-bottom bg-light p-3">
        <div class="container">
            <p class="text-center">&copy <a href="http://wina-gent.be">WiNA Gent</a> 2020</p>
        </div>
    </div>
</footer>
</body>

</html>
