<html layout:decorate="~{layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/associations/show(association=${bar.association.abbreviation})}" th:text="${bar.association.name}"/></li>
            <li class="breadcrumb-item"><a th:href="@{/bars/show(bar=${bar.id})}" th:text="${bar.name}"/></li>
            <li class="breadcrumb-item active" aria-current="page">Item aanmaken</li>
        </ol>
    </nav>
    <h1 class="pb-2">Item aanmaken voor <th:fragment th:text="${bar.name}"></th:fragment></h1>
    <form
            class="form-horizontal"
            th:method="POST"
            th:action="@{/items/create(bar=${bar.id})}"
            th:object="${itemForm}"
    >
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="name">
                Naam
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" id="name" maxlength="255" required>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-2 control-label" for="price">
                Prijs (in centen)
            </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{price}" id="price" min="0" required>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-2 control-label" for="available">
                Beschikbaar
            </label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" th:field="*{available}" id="available">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('available')}" th:errors="*{available}"></p>
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-2 control-label" for="photo">
                Afbeelding
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{photo}" id="photo" maxlength="255">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></p>
            </div>
        </div>
        <div class="form-group pt-4">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    Aanmaken
                </button>
            </div>
        </div>
    </form>
</section>

</body>
</html>
